/* nieuws */
.NewsListItem {
	text-Align:center;
	height: 150px;
}

.NewsListItemBackground {
	max-width: 460px;
	margin: 0 auto;
	text-Align:center;
	height: 100%;
	width: 100%;
	-webkit-border-radius: 0.4em !important;
    border-radius: 0.4em !important;
    background-color:white;
	background-repeat:no-repeat;
	background-attachment:0% 50%;
	background-position:center; 
}

.NewsListItemText {
	display:block;
	width:100%;
	position:relative;
	top:40%;
	line-height: 2em;
	background-color: rgba(255, 255, 255, 0.6 );  /* FF3+, Saf3+, Opera 10.10+, Chrome */
	text-align: center;
	color: #555555;
	font-size:15px;
}

#nieuwsLijst {
	background-image: url(../images/bg_papier.jpg);
}

#nieuwstoolbar {
	height:100px;
}


/* remove default grey line in listitems */
.x-list-normal .x-list-item .x-list-item-label {
	border-top: none;
}

.x-layout-card-container {
	background-image: url(../images/bg_papier.jpg);
	background-color: #ffffff !important;
}

/* detail card met volledige news item */
#detailCard {
/*	background-image: url(../images/bg_papier.jpg);*/
	margin: 0 auto;
	padding: 5px;
	max-width: 460px;
	width: 100%;
	background-color: #ffffff !important;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	line-height: 140%;
	color: #036;
}

#detailCard .articleTopImage {
	width: 100%;
	-webkit-border-radius: 0.4em !important;
    border-radius: 0.4em !important;
}

#detailCard .articleImage {
	float:left;
	width: 30%;
}

#detailCard p {
	padding: 1em 0;
}

#detailCard a:hover {
	text-decoration: underline;
}

#detailCard a {
	color: #E07;
	font-weight : bold;
	text-decoration: none;
}

