
/* Styling van de photoalbum overview */
#FotoLijst {
	background-image: inherit;
}

.FotoListItem {
	height: 100px;
	width: 100%;
	margin: 0 auto;
	max-width: 460px;
}


.FotoListItemBackground {
	width:29%;
	height:100%;
	max-width: 100px;	
	float:left;
	-webkit-border-radius: 0.4em !important;
    border-radius: 0.4em !important;
    background-repeat:no-repeat;
	background-attachment:0% 50%;
	background-position:center; 
	background-size:cover;
}

.spacer {
	height: 100%;
	float:left;
	width:1%;
}

.FotoListItemText {
	border:1px solid black;
	width:70%;
	height:100%;
	float:right;
	-webkit-border-radius: 0.4em !important;
    border-radius: 0.4em !important;
	background-color: white;
	text-align: center;
	color: #555555;
	font-size:10px;
	overflow:hidden;
}

/* Styling van de photoalbum pagina */

#FotoAlbum {
}

#FotoThumbContainer {
	background-color: white;
	border: 1px solid #C0C0C0;
}

.FotoThumb {
	float: right;
	border: 1px solid #C0C0C0;
    display: block; 
    width: 60px; 
    height: 60px; 
    position:relative;
    margin: 2px;
    padding: 2px;
    top: 2px!important;
    left: 2px!important;
}

#FotoFullContainer {
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    border:solid 1px #d0d0d0;
}

