


#footer {
}

#header {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5px;
	padding-bottom: 5px;
}

#header .sensorLogo {
	float:left;
    width: 40%;
}

#header .sensorLogo img {
    /* opacity: 0.2; */
    width: 100%;
}


#header .hanLogo {
	float:right;
	width: 15%;	
}

#header .hanLogo img {
    /* opacity: 0.2; */
   width: 100%;
}


.carousel{
	display:block;
	width: 100%;
}


.menuItemLogo {
	display:block;
	text-align: center;
}


.menuItemLogo img {
	-webkit-border-radius: 0.4em !important;
    border-radius: 0.4em !important;
    width: 90%;
    height: 100px;
	max-width: 90%;
	max-height: 90%;
}

.menuItemLabel {
	display:block;
	width:100%;
	position:absolute;
	top:65%;
	height:40px;
	line-height: 40px;
	background-color:white;
	opacity: 0.5;
	text-align: center;
}


