

#header {
}

#footer {
}

.sensorLogo {
	float:left;
}

.sensorLogo img {
    /* opacity: 0.2; */
    margin-left:15%;
    margin-top:5%;
    max-height:50%;
    max-width:50%;
    
}


.hanLogo {
	float:right;	
}

.hanLogo img {
    /* opacity: 0.2; */
    margin-right:15%;
    margin-top:20%;
    max-height:50%;
    max-width:50%;
}






.carousel{
	display:block;
}

.menuItemLogo {
	display:block;
	-webkit-border-radius: 0.4em !important;
    border-radius: 0.4em !important;
    text-align: center;
    margin: 5px auto;
    height: 250px;
	max-width: 90%;
	max-height: 90%;
}

.menuItemLabel {
	display:block;
	width:600px;
	position:absolute;
	top:200px;
	height:30px;
	background-color:white;
	opacity: 0.5;
	text-align: center;
}


