
#mainmenu {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	max-width: 460px;
}

#footer {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	color: #555555;
	font-size:15px;
}

#header {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5px;
	padding-bottom: 5px;
}

#header .sensorLogo {
	float:left;
    width: 40%;
}

#header .sensorLogo img {
	background-size: contain;
    width: 100%;
}


#header .hanLogo {
	float:right;
	width: 15%;	
}

#header .hanLogo img {
   width: 100%;
}


#carousel {
/*	background-color: yellow;*/
	height: 100%;
}

#carousel .wrapper {
/*	background-color:red;*/
	height:200px;
}

#carousel .menuItemBackground {
	display:block;
	text-Align:center;
	height: 100%;
	-webkit-border-radius: 0.4em !important;
    border-radius: 0.4em !important;
    background-color:white;
	background-repeat:no-repeat;
	background-attachment:0% 50%;
	background-position:center; 
}

#carousel .menuItemLabel {
	position:relative;
	top:45%;
	line-height: 2em;
	background-color: rgba(255, 255, 255, 0.6 );  /* FF3+, Saf3+, Opera 10.10+, Chrome */
	color: #555555;
	font-size:15px;
}




